<ion-view view-title="Analyze"  cache-view="false">
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Select By
      </div>
      <select ng-model="selectBy" ng-change="updateSelectBy(selectBy)">
        <option ng-selected="selected">Date</option>
      </select>
    </label>
    <form class="analyze_date_form" ng-show="show[0]">
      <div class="row">
        <label class="item item-input item-stacked-label col-50">
          <span  class="input-label">From</span>
          <input class="history_date_input" id="start" type="date" ng-model="startDate" ng-change="setNewStartDate(startDate)">
        </label>
        <label class="item item-input item-stacked-label col-50">
          <span class="input-label">To</span>
          <input class="history_date_input" id="end" type="date" ng-model="endDate" ng-change="setNewEndDate(endDate)">
        </label>
      </div>
    </form>
    <div style="margin-top:10%;"class="ct-chart ct-golden-section" id="chart"></div>
  </ion-content>
</ion-view>
