<ion-view view-title="Analyze">
  <ion-content>
    <label class="item item-input item-select">
      <div class="input-label">
        Select By:
      </div>
      <select ng-model="selectBy" ng-change="updateSelectBy(selectBy)">
        <option ng-selected="selected">Date</option>
        <option>Mood</option>
      </select>
    </label>
    <form class="analyze_date_form" ng-show="show[0] "ng-submit="selectByDate()">
      <div class="item row">
        <label class="item item-input col-50">
          <span class="input-label">Start Date:</span>
          <input class="analyze_date_input" type="date">
        </label>
        <label class="item item-input col-50">
          <span class="input-label">End Date:</span>
          <input class="analyze_date_input" type="date">
        </label>
      </div>
    </form>
    <form class="analyze_mood_form" ng-show="show[1]" ng-submit="selectByDate()">
      <label class="item item-input item-select">
        <div class="input-label">
          Select Mood:
        </div>
        <select>
          <option ng-repeat="mood in moods" ng-selected="mood == newestMood">{{mood}}</option>
        </select>
      </label>
    </form>
    <chartist class="ct-chart" chartist-data="chartist.barData" chartist-chart-type="Bar"></chartist>
  </ion-content>
</ion-view>
