<ion-view view-title="Help" cache-view="false">
  <ion-content>

    <div class="card" ng-repeat="moodSuggest in suggestionlist">
      <div ng-class="appTheme" class="item item-divider">
        Most Common Mood: {{moodSuggest.mood}}
      </div>
      <div class="item">
        <div class="item row ">
          <label class="col">
            Most Associated Behavior
          </label>
          <label class="col history_card_triggers">
            {{moodSuggest.behavior}}
          </label>
        </div>
        <div class="item row ">
          <label class="col">
            Probability Of Occurance
          </label>
          <label class="col history_card_beliefs">
            {{moodSuggest.probability}}
          </label>
        </div>
        <div class="item row">
          <label class="col">
            Suggested Coping Strategy
          </label>
          <label class="col history_card_behaviors">
            {{moodSuggest.suggestion}}
          </label>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
