<ion-view view-title="Home">
  <ion-content>
    <!--<h1 class="home_avg_heading">Average Mood</h1>-->
    <!--<h2 class="home_avg_value"> {{mood}}</h2>-->
    <!--styling below is temporary-->
    <img src="./lib/imgs/welcome.png" width="300px" height="500px" style="display: block; margin-left: auto; margin-right: auto;">
  </ion-content>
  <div class="bar bar-footer home_footer">
    <button ng-class="'button-'+appTheme" class="button button-block home_input_button" ng-click="mood_input()">
        Log Mood
    </button>
  </div>
</ion-view>
