<ion-view view-title="Login"  cache-view="false">
  <ion-content>
    <h1 class="login_brand"> MOOD TRACKER </h1>
    <h3 class="login_username"> Welcome {{loginData.username}} </h3>
    <form class="login_form" ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">PIN</span>
          <input type="password" ng-model="loginData.passwordInput">
        </label>
        <label class="item">
          <button ng-class="'button-'+appTheme" class="button button-block" type="submit">Log in</button>
        </label>
        <label class="item login_form_signup" ng-click="goToSignup()">
          <a>Sign Up</a>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
