<ion-view view-title="Settings"  cache-view="false">
  <ion-content>
    <div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Theme
    </div>
    <select ng-model="theme" ng-change="themeChange(theme)">
      <option ng-selected="selected">positive</option>
      <option>light</option>
      <option>stable</option>
      <option>calm</option>
      <option>dark</option>
    </select>
  </label>
  <label class="item" ng-click="deleteAccount()">
    Delete Account
  </label>
</div>
  </ion-content>
</ion-view>
