<ion-view view-title="Sign Up">
  <ion-content>
    <h1 class="login_brand"> MOOD TRACKER </h1>
    <form class="signup_form" ng-submit="doSignup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">PIN</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button ng-class="'button-'+appTheme" class="button button-block" type="submit">Sign Up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
